<!-- Term Modal -->
<div class="modal fade" id="term-of-service" tabindex="-1" aria-labelledby="termOfService" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="termOfService">Terms of Service</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <p>
Далее следует лишь текст-заполнитель для этого модального диалога. Тебе просто нужно зажечь свет
 и пусть оно сияет! Приди так же, как ты ко мне. Просто владей ночью, как 4 июля. Зарази меня
 твою любовь и наполни меня своим ядом. Приди так же, как ты ко мне. Конец радуги в поисках сокровищ.
        </p>
        <p>Я не могу спать, давай убежим и никогда не оглядываться назад, никогда не оглядываться назад. Я не могу спать, давай побежим
 прочь и никогда не оглядывайся назад, никогда не оглядывайся назад. Да, мы заставляем ангелов плакать, проливая дождь на землю
 сверху. Я иду по воздуху (сегодня вечером). Позволь тебе положить руки на меня в моих обтягивающих джинсах.
 Жалясь, как пчела, я заслужил свои нашивки. Я прошел путь от нуля до собственного героя. Даже ярче, чем
 луна, луна, луна. Заставь их кричать «Ааа, ааа, аа», летая по небу-у-у! Почему бы тебе не позволить мне
 остановиться у?
        </p>
        <p>Бум бум бум. Ни разу не заставил меня моргнуть. Да, тебе повезло, если ты на ее самолете.
 Говорите о нашем будущем так, как будто у нас есть подсказка. О боже мой, без преувеличения. Ты оригинален, его невозможно заменить.
 Девушка уродка, она водит джип в Лагуна-Бич. Ничего страшного, ничего страшного,
 это не большое дело. В другой жизни я бы заставил тебя остаться. Я заставлю твое сердце биться чаще в моем
 обтягивающие джинсы. Я хочу идти по твоей волне и быть там, когда ты вибрируешь. Никогда не заставлял меня.
 моргнуть один раз.
        </p>
        <p>
Мы сдержим все свои обещания против всего мира. В другой жизни я была бы твоей девушкой. Мы можем
 танцуй, пока мы не умрем, ты и я, будем вечно молодыми. И на мое 18-летие у нас получилось совпадение.
 татуировки. Так что откройте свое сердце и позвольте этому начаться. Потому что она муза и художница.
 Она съедает твое сердце. Как Джеффри Дамер (ух). Лопайте конфетти. (Вот как мы это делаем) Я
 знай, одна искра потрясет мир, да, да. Если бы вы только знали, что ждет вас в будущем.
        </p>
        <p>
            Sipping on Rosé, Silver Lake sun, coming up all lazy. It’s in the palm of your hand now baby. 
            So we hit the boulevard. So make a wish, I'll make it like your birthday everyday. Do you ever 
            feel already buried deep six feet under? It's time to bring out the big balloons. 
            You could've been the greatest. Passport stamps, she's cosmopolitan. Your kiss is cosmic, 
            every move is magic.
        </p>
        <p> 
            We're living the life. We're doing it right. Open up your heart. I was tryna hit it and quit it. 
            Her love is like a drug. Always leaves a trail of stardust. The girl's a freak, she drive a jeep 
            in Laguna Beach. Fine, fresh, fierce, we got it on lock. All my girls vintage Chanel baby.
        </p>
        <p>
            Before you met me I was alright but things were kinda heavy. Peach-pink lips, yeah, everybody stares. 
            This is no big deal. Calling out my name. I could have rewrite your addiction. She's got that, je ne 
            sais quoi, you know it. Heavy is the head that wears the crown. 'Cause, baby, you're a firework. 
            Like thunder gonna shake the ground.
        </p>
        <p>
            Just own the night like the 4th of July! I’m gon’ put her in a coma. What you're waiting for, it's 
            time for you to show it off. Can't replace you with a million rings. You open my eyes and I'm ready 
            to go, lead me into the light. And here you are. I’m gon’ put her in a coma. Come on, let your 
            colours burst. So cover your eyes, I have a surprise. As I march alone to a different beat. 
            Glitter all over the room pink flamingos in the pool.
        </p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Understood</button>
        </div>
    </div>
    </div>
</div>
